#colIzq{
  margin: 1em auto;
  /* flex: 80%; */
  /* border: 2px solid black; */
  height: auto;
  width: auto;
  border-radius: 5px;
}

#colCentro{
  margin: 1em auto;
  /* flex: 80%; */
  /* border: 2px solid black; */
  height: auto;
  width: auto;


}


