nav{
  border-radius: 5px;
  width: 80%;
  margin: auto;
}

/* Fondo del menú barra de navegación*/
/* .dropdown-menu{
  background-color: #343a40;
  color: #FFF;
} */

/* Items de menú barra de navegación*/
/* .dropdown-item{
  color: #FFF;
} */

/* .dropdown-item:hover{
  color: #000;
}
 */
