
<div id="div-form-tiendas">
  <h3>Gestiona tus tiendas</h3>

  <form id="form-tiendas" #tiendaForm="ngForm" (ngSubmit)="enviar()">

    <div class="form-group">
      <label for="nombre">Nombre Tienda</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="tienda.desTienda" name="nombre" #nombre="ngModel"
            placeholder="Nombre establecimiento" required />
      <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
        Nombre Tienda es obligatorio
      </div>
    </div>

    <div class="form-group">
      <label for="direccion">Dirección</label>
      <input type="text" class="form-control" id="direccion" [(ngModel)]="tienda.direccion" name="direccion"
            placeholder="Calle, numero, etc" />
    </div>

    <div class="form-group">
      <label for="telefono">Teléfono</label>
      <input type="text" class="form-control" id="telefono" [(ngModel)]="tienda.telefono" name="telefono"
            placeholder="93333333" />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!tiendaForm.form.valid">
        Guardar
      </button>

      <button type="reset" class="btn btn-primary" (click)="tiendaForm.reset()" [disabled]="!tiendaForm.form.valid">
        Limpiar
      </button>
  	</div>

  </form>
</div>

<div class="container mt-2">
  <div class="card card-block">

    <nav class="navbar navbar-dark bg-inverse mb-1">
      <h6 class="navbar-brand mb-0 text-dark">Lista de Tiendas</h6>
    </nav>

    <app-tienda-grid></app-tienda-grid>

  </div>
</div>
